{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="ui big menu">
    <span class="header item">V.Levitski ПЗКС</span>
    <a href="{{ url_for('task_graph') }}"
       class="{% if 'task_graph' in request.endpoint %}active{% endif %} item">
        Граф задач</a>
    <a href="{{ url_for('graph_ks') }}"
       class="{% if 'graph_ks' in request.endpoint %}active{% endif %} item">
        Граф КС</a>
    <a href="{{ url_for('modeling') }}"
       class="{% if 'modeling' in request.endpoint %}active{% endif %} item">
        Моделювання</a>
    <a href="{{ url_for('statistics') }}"
       class="{% if 'statistics' in request.endpoint%}active{% endif %} item">
        Статистика</a>
    <a href="{{ url_for('help') }}"
       class="{% if 'help' in request.endpoint %}active{% endif %} item">
        Допомога</a>
</div>
{% endblock %}