{% extends "index.html" %}
{% block title %}Моделювання{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="ui container">
        <div class="ui compact big secondary pointing menu">
            <a class="item" href="{{ url_for('modeling_parameters') }}">
                Параметри
            </a>
            <a class="active item" href="{{ url_for('modeling_ganta') }}">
                Діаграма Ганта
            </a>
            <a class="item"
               href="{{ url_for('modeling_statistics') }}">
                Статистика
            </a>
        </div>
        <br><br>
        <div align="center">
            <form method="post">
                <label>Оберіть граф задачі</label>
                <select class="ui dropdown" name="task_graph">
                    {% for t in task_graphs %}
                        <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </select>
                <label>Оберіть граф системи</label>
                <select class="ui dropdown" name="system_graph">
                    {% for t in system_graphs %}
                        <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endfor %}
                </select>
                <div align="left">
                    {% if diagram %}
                        <pre>{{ render_ganta(diagram) }}</pre>
                    {% endif %}
                </div>
                <div class="ui divider"></div>
                <button class="ui positive button" type="submit">Запустити
                    планування
                </button>
            </form>
        </div>
        <script>
            $('.dropdown').dropdown()
        </script>
    </div>
{% endblock %}